# Ignore target folder (compiled code & dependencies)
target/
 
# Ignore Maven dependency folders
**/lib/
**/*.jar

# Ignore Eclipse/IntelliJ IDEA specific files
.classpath
.project
.settings/
.idea/
*.iml

# Ignore logs
*.log